<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap.min.css">

    <title>Online-library</title>
    <link rel="icon" href="../static/favicon.png" type="image/png">
  </head>
  <body>
    <div class="container">
      <nav aria-label="Page navigation example">
        <ul class="pagination mt-3">
          {% if not page_number %}
            <li class="page-item" style="pointer-events:none; opacity:0.6;"><a class="page-link">Назад</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="index{{page_number}}.html">Назад</a></li>
          {% endif %}
          {% for page in range(pages_number) %}
            {% if page_number == page %}
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="index{{page+1}}.html">{{page+1}}<span class="sr-only">(current)</span></a></li>
            {% else %}
              <li class="page-item"><a class="page-link" href="index{{page+1}}.html">{{page+1}}</a></li>
            {% endif %}
          {% endfor %}
          {% if page_number+1 == pages_number %}
            <li class="page-item" style="pointer-events:none; opacity:0.6;"><a class="page-link">Вперёд</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="index{{page_number+2}}.html">Вперёд</a></li>
          {% endif %}
        </ul>
      </nav>
      <div class="row">
        {% for book_description in books_description %}
          <div class="w-50">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="../media/{{book_description['img_scr'] | urlencode}}" class="card-img" alt="{{book_description['titles']}}">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h3 class="card-title">{{book_description['title']}}</h3>
                    <h5 class="card-text">{{book_description['author']}}</h5>
                    <h5>
                      {% for genre in book_description['genres'] %}
                        <span class="badge badge-light">{{genre}}</span>
                      {% endfor %}
                    </h5>
                    <a href="../media/{{book_description['book_path'] | urlencode}}" target="_blank" class="h4" rel="noopener noreferrer">Читать</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="../static/jquery-3.5.1.slim.min.js"></script>
    <script src="../static/bootstrap.bundle.min.js"></script>

  </body>
</html>